/*.App {*/
  /*text-align: center;*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*position: relative;*/
/*}*/

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 40vmin;*/
  /*pointer-events: none;*/
/*}*/

/*.App-header {*/
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
/*}*/

/*.App-link {*/
  /*color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
  /*from {*/
    /*transform: rotate(0deg);*/
  /*}*/
  /*to {*/
    /*transform: rotate(360deg);*/
  /*}*/
/*}*/

/* Above is example css*/
#top-bar {
  height: 15%;
  width: 100%;
  position: absolute;
  top: 0;
  /* For demo purpose*/
  border: 3px solid red;
  background: white;
}

#side-bars {
  height: 70%;
  width: 100%;
  position: absolute;
  top: 15%;
  bottom: 15%;
  background-color: grey;
}

#left-side-bar {
  height: 100%;
  width: 20%;
  position: absolute;
  padding: auto;
  /* For demo purpose*/
  border: 3px solid blue;
  background: white;
}

#right-side-bar {
  height: 100%;
  width: 20%;
  right: 0;
  position: absolute;
  padding: auto;
  /* For demo purpose*/
  border: 3px solid blue;
  background: white;
}

#bottom-bar {
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* For demo purpose*/
  border: 3px solid red;
  background: white;
}

.box {
  padding: 5px;
  margin: 2px;
}



